.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
    margin: 0 auto;

}

.font{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

#cabecalho{
    background-color: cornflowerblue;
    align-items: center;
    display: flex;
    flex-direction: row;

}

ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
  }
  
a:active {
    text-decoration: none;
  }

h1,li{
    margin: 1%;
}

#classe{
    margin: 1%;
}

.tabela{
    display: flex;
    width: 100%;
    justify-content: center;
}


th,td{
    text-align: left;

}

tr,td{
    border-bottom: 2px solid #96D4D4;
}

table{
    border-collapse: collapse;
    border-style: hidden;
    border-spacing: 10px;
}

#codd{
    width: 250px;
    height: 30px;
}

#namm{
    width: 150px;
}

#amoo{
    width: 100px;
}

#unii{
    width: 150px;
}

#prii{
    width: 100px;
}